.navbar{
    background: var(--gray-color);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    a{
        background: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: white;
        font-size: 1.1rem;

        transition: all 0.3s ease-in-out;

            &:hover{
                color: var(--secondary-color);
            }
    }

    @media screen and (min-width: 900px) {
        display: none;
        
    }
}