@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #ff9900;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: rgba(17, 24, 39, 0.5);
  --navdots-gray-color: rgba(17, 24, 39, 0.8);
 
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}

*{
  -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
  display: none;
  }


